
body {
   background: linear-gradient(to left, #fc354c, #0abfbc);
}

.button {
    inline-size: 32px;
    block-size: 32px;
    border: none;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.button:active {
    transform: scale(.9);
}

#play {
    
    background-image: url('./icons8-circled_play\ 1.svg');
}

#pause {
    background-image: url('./icons8-pause_button\ 1.svg');
}

#backward {
    background-image: url('./icons8-reset\ 2.svg');
}

#forward {
    background-image: url('./icons8-reset\ 1.svg');
}

.wrapper {
    max-inline-size: 900px;
    margin: auto;
}

.player {
    margin-block-start: 100px;
    position: relative;
}

.player video {
    inline-size: 100%;
    aspect-ratio: 15/9;
    vertical-align: middle; 
    object-fit: cover;
}

.player-title {
    color: white;
    position: absolute;
    inset-block-start: 0;
    inset-inline-start: 20px;
}

.player-actions {
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20pxs;
}   

.player-progress {
    position: absolute;
    inset-block-end: 0;
    inset-inline: 0;
    display: flex;
    padding: 20px;
}

.player-progress input {
    flex: 1;
}

.player-overlay {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: .3s opacity;
}

.player:hover .player-overlay {
    opacity: 1;
}